* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
}

header {
    background-color: lightgray;
    height: 45px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    flex-basis: 22%;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}

.card-description {
    padding: 0 5px;
}

.w-100 {
    width: 100%;
}
