@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La mia pizzeria</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    @*page container*@
    <body>
        <header>
            <h1 class="title"> Le mie pizze </h1>
        </header>
        <main>
            <div class="container">

                @*title*@

                @*pizza container*@
                <div class="flex">

                    @*pizza cards*@
                    <a href="#" class="card">
                        <div class="w-100">
                            <img src="~/img/margherita.jpg">
                        </div>
                        <div class="card-description">
                            <h3 class="title"> Margherita </h3>
                            <p>Prezzo: 4,50€</p>
                            <p>Pizza classica italiana, semplice e squisita.</p>
                        </div>
                    </a>

                    <a href="#" class="card">
                        <div class="w-100">
                            <img src="~/img/margherita.jpg">
                        </div>
                        <div class="card-description">
                            <h3 class="title"> Margherita </h3>
                            <p>Prezzo: 4,50€</p>
                            <p>Pizza classica italiana, semplice e squisita.</p>
                        </div>
                    </a>

                    <a href="#" class="card">
                        <div class="w-100">
                            <img src="~/img/margherita.jpg">
                        </div>
                        <div class="card-description">
                            <h3 class="title"> Margherita </h3>
                            <p>Prezzo: 4,50€</p>
                            <p>Pizza classica italiana, semplice e squisita.</p>
                        </div>
                    </a>

                    <a href="#" class="card">
                        <div class="w-100">
                            <img src="~/img/margherita.jpg">
                        </div>
                        <div class="card-description">
                            <h3 class="title"> Margherita </h3>
                            <p>Prezzo: 4,50€</p>
                            <p>Pizza classica italiana, semplice e squisita.</p>
                        </div>
                    </a>

                    <a href="#" class="card">
                        <div class="w-100">
                            <img src="~/img/margherita.jpg">
                        </div>
                        <div class="card-description">
                            <h3 class="title"> Margherita </h3>
                            <p>Prezzo: 4,50€</p>
                            <p>Pizza classica italiana, semplice e squisita.</p>
                        </div>
                    </a>

                    <a href="#" class="card">
                        <div class="w-100">
                            <img src="~/img/margherita.jpg">
                        </div>
                        <div class="card-description">
                            <h3 class="title"> Margherita </h3>
                            <p>Prezzo: 4,50€</p>
                            <p>Pizza classica italiana, semplice e squisita.</p>
                        </div>
                    </a>

                </div>
            </div>
        </main>
    </body>
</html>